<ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">
        {{ err }}
    </li>
</ul>
<div class="card bg-light text-while mt-3">
    <div class="card-header">{{ title }}</div>
    <div class="card-body">

        <form #clienteForm="ngForm" >
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" required
                        #nombre="ngModel">
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors.required">
                            El nombre es requerido
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Tipo</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.tipo" name="tipo" required
                        #tipo="ngModel">
                    <div class="alert alert-danger" *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)">
                        <div *ngIf="tipo.errors.required">
                            El tipo es requerido
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Fecha de creación</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.fecha_creacion" name="fecha_creacion"
                        required #fecha_creacion="ngModel">
                    <div class="alert alert-danger"
                        *ngIf="fecha_creacion.invalid && (fecha_creacion.dirty || fecha_creacion.touched)">
                        <div *ngIf="fecha_creacion.errors.required">
                            La fecha de creación es requerida
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Referencia</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.referencia" name="referencia" required  #referencia="ngModel">
                    <div class="alert alert-danger" *ngIf="referencia.invalid && (referencia.dirty || referencia.touched)">
                        <div *ngIf="referencia.errors.required">
                            La referencia es requerida
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Cantidad</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.cantidad" name="cantidad" required #cantidad="ngModel">
                    <div class="alert alert-danger" *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)">
                        <div *ngIf="cantidad.errors.required">
                            La cantidad es requerida
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-goup row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)='updateCliente()' [disabled]="!clienteForm.form.valid">Editar</button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>